.buttons__quiz{
    width:var(--button-width);
    padding:25px 0;
    border-radius:10px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 23px;
    font-weight: bold;
    transform: scale(0.98);
    transition:all .2s ease-in-out; 
    opacity: .9;
    &:active,
    &:hover{
        transform: scale(1);
        opacity: 1;
    }
}