<div>
    <ul class="step-wizard-list">
        <li class="step-wizard-item current-item">
            <span class="progress-count">1</span>
            <span class="progress-label">Info</span>
        </li>
        <li class="step-wizard-item current-item">
            <span class="progress-count">2</span>
            <span class="progress-label">Quiz</span>
        </li>
        <li class="step-wizard-item current-item">
            <span class="progress-count">3</span>
            <span class="progress-label">Resultant</span>
        </li>
    </ul>
    <div class="head">
        <h3>Quiz Application</h3>
        <p>60</p>
    </div>
    <div class="body">
        <h2>#01. What does HTML stand for ?</h2>
        <form>
            <div class="field">
                <p class="chicked">
                    <input type="checkbox"/>
                    <label>Hyper Text Prepocessor</label>
                    <i class="bi bi-check icon-check"></i>
                </p>
                <p>
                    <input type="checkbox"/>
                    <label>Hyper Text Prepocessor</label>
                </p>
            </div>
            <div class="field">
                <p>
                    <input type="checkbox"/>
                    <label>Hyper Text Prepocessor</label>
                </p>
                <p>
                    <input type="checkbox"/>
                    <label>Hyper Text Prepocessor</label>
                </p>
            </div>
        </form>
        <ul>
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="footer">
        <span>1 of 5 Questions</span>
        <button>Next Question</button>
    </div>
</div>

<!--(((((((((((((((((((((())))))))))))))))))))))-->
<div class="info">
    <div>
        <h1>Quiz Games</h1>
        <h2>Mustapha</h2>
    </div>
    <div class="information">
        <h3>01-Test in AWS Question</h3>
        <h3>02-You have 4 Options</h3>
        <h3>03-You Cant back previeus Question</h3>
        <h3>04-You Need Check Answer if you want to go next Question</h3>
        <h3>05-You Have 10 Question</h3>
        <h2>Good Luck</h2>
        <button>Start Quiz</button>
    </div>
</div>
<!--(((((((((((((((((((((())))))))))))))))))))))-->